
@{
    ViewBag.Title = "Index";
}

<h2>My Work</h2>

<div>
    My work is da bes.
    <a href="@Url.Action("Example1", "Work")">
        Example 1
    </a>
</div>

<img class="medium-image" src="~/Content/milhouse.png" alt="Milhouse being awesome" />

